.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  --gradient: linear-gradient(90deg,
      hsl(90, 77%, 25%),
      hsl(90, 77%, 55%) 25%,
      hsl(90, 77%, 65%) 30%,
      hsl(90, 77%, 55%) 40%,
      hsl(90, 77%, 25%) 75%,
      hsl(90, 77%, 15%));
  --cap-height: 50;
  --pipe-width: 100;
  --cap-extra-width: 20;
}

.cap {
  width: calc((var(--pipe-width) + var(--cap-extra-width)) * 1px);
  min-height: calc(var(--cap-height) * 1px);
  background: var(--gradient);
  border: 3px solid var(--border);
}

.pipe {
  width: calc(var(--pipe-width) * 1px);
  height: 100%;
  background: var(--gradient);
  border: solid var(--border);
  border-width: 0 3px;
}

.flipped {
  transform: rotate(180deg);

  --gradient: linear-gradient(-90deg,
      hsl(90, 77%, 25%),
      hsl(90, 77%, 55%) 25%,
      hsl(90, 77%, 65%) 30%,
      hsl(90, 77%, 55%) 40%,
      hsl(90, 77%, 25%) 75%,
      hsl(90, 77%, 15%));
}