.wrapper {
  display: grid;
  grid-template-columns: 30% fit-content(100%) 1fr;
  grid-template-areas: 'space-left character space-right';
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;

  pointer-events: none;
  user-select: none;
}

.characterWrapper {
  grid-area: character;
  position: relative;
}

.characterBoundingBox {
  --character-position: 0;

  position: relative;
  will-change: top;
  top: clamp(0%, calc(var(--character-position) * 100%), calc(100% - 75px));
  transition: top 150ms;
}

.character {
  will-change: transform;
  transition: transform 100ms;
}

.lookUp {
  transform: rotate(-30deg);
}

.lookDown {
  transform: rotate(90deg);
  transition: transform 400ms;
}