.wrapper {
  display: grid;
  grid-template-columns: 30% fit-content(100%) 1fr;
  grid-template-areas: 'space-left character space-right';
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;

  pointer-events: none;
  user-select: none;
}

.characterWrapper {
  grid-area: character;
}

.characterBoundingBox {
  --character-position: 0;
  --character-size: 65;
  --area-height: 0;

  will-change: transform;
  transform: translateY(calc(var(--character-position) * 1px));
  transition: transform 150ms;
}

.character {
  will-change: transform;
  transition: transform 100ms;
}

.lookUp {
  transform: rotate(-30deg);
}

.lookDown {
  transform: rotate(90deg);
  transition: transform 400ms;
}

.idle {
  animation: fly 500ms ease-in-out infinite alternate;
}

@keyframes fly {
  from {
    transform: translateY(-10px);
  }

  to {
    transform: translateY(10px);
  }
}