.wrapper {
  height: 100%;
  display: grid;
  grid-template-areas:
    'top'
    'passage'
    'bottom';
  grid-template-rows: calc(var(--top-pipe-height) * 1%) 200px 1fr;
  --top-pipe-height: 20;
}

.top {
  grid-area: top;
}

.passage {
  grid-area: passage;
  position: relative;
}

.scoreArea {
  height: 100%;
  width: 30px;
  position: absolute;
  transform: translateX(calc(100% + 20px));
  right: 0;
}

.bottom {
  grid-area: bottom;
}