.wrapper {
  height: 100%;
  display: grid;
  grid-template-areas:
    'top'
    'space'
    'bottom';
  grid-template-rows: calc(var(--top-pipe-height) * 1%) 200px 1fr;
  --top-pipe-height: 20;
}

.top {
  grid-area: top;
}

.bottom {
  grid-area: bottom;
}