*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* Global styles */
body {
  font-family: sans-serif;
}

body {
  --ground-height: 150px;
  --grass-height: 20px;

  --light-grass: hsl(90, 77%, 61%);
  --dark-grass: hsl(89, 75%, 43%);
  --border: hsl(335, 15%, 32%);
  --dirt: hsl(54, 59%, 75%);
  --dirt-shadow: hsl(54, 59%, 50%);

  /* tweak */
  --grass-movement-speed: 0s;
}