.whiteout {
  background-color: white;
  animation: flash 200ms ease-out forwards;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

@keyframes flash {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}