.wrapper {
  --obstacle-spacing: 350;
  height: 100%;
  position: relative;
}

.obstacle {
  height: 100%;
  /* animation: slide 2s linear infinite; */
}

@keyframes slide {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}