.wrapper {
  --obstacle-speed: 1;
  --obstacle-animation-state: running;

  height: 100%;
  position: relative;
}

.obstacle {
  height: 100%;
  animation: slide calc(var(--obstacle-speed) * 1ms) linear forwards;
  position: absolute;
  animation-play-state: var(--obstacle-animation-state);
}


@keyframes slide {
  from {
    left: 100%;
    transform: translateX(100%);
  }

  to {
    left: 0%;
    transform: translateX(-100%);
  }
}