.environment {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sky {
  flex: 1;
  background: var(--sky);
}

.grass {
  --grass-animation-state: running;
  --grass-speed: 1;
  z-index: 1;
  flex-basis: var(--grass-height);
  background: repeating-linear-gradient(-45deg, var(--dark-grass), var(--dark-grass) 13px, var(--light-grass) 5px, var(--light-grass) 26px);
  background-size: 300% 100%;
  animation: moving-grass calc(var(--grass-speed) * 1ms) linear infinite;
  animation-play-state: var(--grass-animation-state);
  border-top: 3px solid var(--border);
}

.ground {
  z-index: 1;
  flex-basis: var(--ground-height);
  background: var(--dirt);
  border-top: 5px solid var(--dirt-shadow);
}

@keyframes moving-grass {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 100%;
  }
}